name: Creating build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
      - name: installing dependencies
        run: npm install
      - name: build the app
        run: npm run build

     
